<tr tabindex="0" class="nui-table-row" >
    <td class="nui-table-cell iU0"></td>
    <td class="nui-table-cell nui-table-cell-forChk">
        <span class="nui-chk" role="checkbox" tabindex="0" aria-checked="false">
            <span class="nui-chk-symbol"><b class="nui-ico nui-ico-checkbox"></b>
            </span>
        </span>
    </td>

    <td class="nui-table-cell iV0" title="#name">
        <span class="nui-txt nui-txt-normal">#name</span>
    </td>
    <td class="nui-table-cell iA0">
        <nobr class="de0" title="#email">#email</nobr>
    </td>
    <td class="nui-table-cell iB0">
        <span>#phone</span>
    </td>
    <td class="nui-table-cell iF0">
        <nobr>#group</nobr>
    </td>
    
</tr>